
.form{
    margin: 30px auto;
    width: 300px;
    height: 350px;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: -5px 5px 10px 1px #172c66;;
}
.lable{
    font-size: 20px;
    color:#8bd3dd ;
    
}
.input{
    width: 100%;
    padding: 10px;
    border: 2px solid #4d5e8b;
}
.form-button{
 display: block;
 margin: 10px auto;

}
.form-button:hover{
    background-color:rgb(194, 35, 88) ;
    font-weight: bold;
}