.menus-cantainer
{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.menu-card{
    background-color: #fff;
    width: 150px;
    padding: 10px;
    margin:10px ;
    border-radius: 10px;
    box-shadow: -5px 5px 10px 1px #172c66;
    border:0.5px solid #808080;
}
.menu-card:hover{
    box-shadow: -5px 5px 10px 1px  #000000
}
.menu-icon{
    height: 100px;
    display: block;
    margin: 10px auto;
    }
.menu-title{
   
    
    font-size: 20px;

    }
    .menu-description{
        font-size: 14px;
        font-family: "Dancing Script", cursive;
    }
    .menu-price{
       margin-top: 10px;
    }

    .menu-order-button{
       margin-top: 10px;
        background-color: #c92967;
        color: #fff;
        border: none;
        border-radius: 10px;
        padding: 1px 8px;
        display: block;
        margin: 10px auto;
        
    }
    .menu-order-button:hover{
        border-radius:25px;
        transition: 0.3s;
        cursor: pointer;
    }